*{
 margin: 0;
 padding: 0;
}
body {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: #FfFfFf;
  padding: 0 0px 20px 0px;
/*  border: 2px solid #DBDBDB; */
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif;
}
header {
  position: absolute;
  width: 100%;
  position: absolute;
}
.top-bar {
  max-width: 50%;
  margin: 0 auto;
  padding: 10px 0px;
  position: relative;
}
.top-menu {
  font-size: 20px;
}
.menu {
  color: white;
  float: right;
}
.top-menu a {
  background-color: #FF5722;
  /*border: 1px solid white; */
  border-radius: 3px;
  color: white;
  margin: 10px;
  padding: 14px;
  box-shadow: 0px 0px 20px black;
  text-decoration: none;
}
.top-menu a.menu:hover {
  box-shadow: 0px 0px 2px black;
  color: white;
}
.logo {
  float: left;
  font-size: 20px;
  text-shadow: 0px 0px 10px black;
  color: white;
  margin-top: 20px;
  position: absolute;
}
#banner {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/006/218/017/large/janus-larsen-macro-world-9.jpg?1496868424");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 450px;
  width: auto;
  position: relative;
  box-shadow: 0px 5px 10px black;

}
#banner .content h1 {
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  top: 130px;
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 0px 0px 20px black;
}
h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #212121;
}
h3 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #212121;
}
#main {
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  width: 50%;
  height:auto;
  overflow: inherit;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: .5px;
}
a:hover{
  color: #448AFF;
}
html {
  background-color: #ffffff;
}
img {
  display: block;
  margin: 0 auto;
  height: 75%;
  width: 75%;
}
.share {
  border-radius: 5px;
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 50%;
  margin: auto;
}

.share a {
  font-size: 15px;
  background: #FF5722;
  border: 1px solid #FF5722;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
  box-shadow: 0px 0px 10px black;
}
.share a:hover {
  box-shadow: 0px 0px 2px black;
}
